<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sky.myapplication.study02">

    <!--
    application     应用内部活动总类
     android:icon="@mipmap/ic_launcher" 图标
     android:label="@string/app_name" 当前应用名
     android:roundIcon="@mipmap/ic_launcher_round" 圆形图标
     android:theme="@style/AppTheme" 主题 代表App的基础色调
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- <action android:name="android.intent.action.MAIN" /> 当前App打开的第一个界面 -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IntentActivity" />
        <activity android:name=".FragmentActivity" />
        <activity android:name=".RadioActivity" />

        <receiver
            android:name="com.sky.receiver.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="MY_BROADCAST" />
            </intent-filter>
        </receiver>

        <activity android:name="com.sky.listexample.ListExampleActivity" />
        <activity android:name="com.sky.listexample.ListExampleContentActivity" />
        <activity android:name=".MyRadioActivity" />
        <activity android:name=".LocalBroadCastActivity" />

        <service android:name="com.sky.service.MyService" />

        <activity android:name="com.sky.service.MyServiceActivity" />
        <activity android:name="com.sky.data.DataActivity" />
        <activity android:name="com.sky.data.IoActivity" />
        <activity android:name="com.sky.data.ShareActivity" />
        <activity android:name="com.sky.data.SharePreferencesDemoActivity" />
        <activity android:name="com.sky.sqlite.SqliteActivity" />
        <activity android:name="com.sky.sqlite.LitepalActivity" />
        <activity android:name="com.sky.permission.PermissionActivity" />
        <activity android:name="com.sky.content.ContentProvideActivity" />
        <!--
        四大组件都需要声明
        android:authorities=""  类似receiver的name
        声明当前有效并且其他软件可以使用到
         android:exported="true"
         android:enabled="true"
        -->
        <provider
            android:name="com.sky.content.TestProvider"
            android:authorities="com.sky.contentProvide"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.sky.webview.WebViewActivity" />
        <activity android:name="com.sky.notice.NoticeActivity" />
        <activity android:name="com.sky.fragment.ViewPagerActivity" />
        <activity android:name="com.sky.network.NetWorkActivity" />
        <activity
            android:name="com.sky.extra.ExtraActivity"
            android:label="UI设计页面" />
        <activity android:name="com.sky.extra.MyActionBarActivity"></activity>
    </application>

</manifest>